# ignore everything in the root except the "wp-content" directory.
/*
/*/
wp-admin/
wp-includes/
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "plugins", "themes" directory
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# ignore all plugins except:
# You must exclude everything on the way to the destinations, but you must include the destinations: Note: This is an exclusion file so the logic is inverted. Ignore all, except the elementor directory, ignore all in elementor directory, except the core directory...
wp-content/plugins/*
!wp-content/plugins/elementor/
wp-content/plugins/elementor/*
!wp-content/plugins/elementor/core/
wp-content/plugins/elementor/core/*
!wp-content/plugins/elementor/core/role-manager
!wp-content/plugins/dashboard-welcome-for-elementor/
wp-content/plugins/dashboard-welcome-for-elementor/*
!wp-content/plugins/dashboard-welcome-for-elementor/classes
!wp-content/plugins/zeus-modified-plugins-reminder






# ignore all themes except
wp-content/themes/*
!wp-content/themes/bullish
wp-content/themes/bullish/acf-json
# ignore specific themes & items
wp-content/upgrade/
wp-content/uploads/
wp-content/wphb-cache/
wp-content/wphb-logs/
wp-content/cache/

# ignore .BAK & .OLD files
*.BAK
*.back
*.old
*.OLD
*.*.BAK
*.*.back
*.*.old
*.*.OLD

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
