# ignore everything in the root except the "wp-content" directory.
/*
/*/
wp-admin/
wp-includes/
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "plugins", "themes" directory
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore all plugins except:
wp-content/plugins/*
!wp-content/plugins/elementor/core/role-manager
!wp-content/plugins/dashboard-welcome-for-elementor/classes
!wp-content/plugins/zeus-modified-plugins-reminder



# ignore specific themes & items
wp-content/themes/twenty*/
wp-content/themes/flex*/
wp-content/upgrade/
wp-content/uploads/
wp-content/wphb-cache/
wp-content/wphb-logs/
wp-content/cache/

# ignore .BAK & .OLD files
*.BAK
*.back
*.old
*.OLD

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite
